body,
html {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.header {
    background-color: black;
    padding: 5px;
}

.header__ttl {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__home {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.main {
    max-width: 1000px;
    margin: 50px auto;
}

.main__title {
    font-size: 25px;
    font-weight: 700;
}

.main__about {
    max-width: 1000px;
    margin: 50px auto;
}

.about__table {
    border: 1px solid #aaaaaa;
    width: 100%;
}

.about__tr {
    border-bottom: 1px solid #aaaaaa;
}

.about__th {
    background-color: black;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    width: 20%;
    padding: 20px 0;
}

.about__td {
    border: 1px solid #aaaaaa;
    text-align: center;
    padding: 15px 0;
}

.button__delete {
    border: none;
    border-bottom: 2px solid #ff0000;
    background-color: #fff;
    color: #ff0000;
    font-size: 15px;
}

.success {
    margin-left: 50px;
    color: #ff0000;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .header {
        padding: 10px;
    }

    .header__ttl {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .header__title img {
        height: 30px;
    }

    .nav__home {
        font-size: 16px;
        margin-bottom: 10px;
    }

    main {
        padding: 20px;
        margin: 20px auto;
    }

    .main__title {
        font-size: 10px;
    }

    .main__about {
        margin: 20px auto;
    }

    .about__table {
        width: 100%;
        font-size: 8px;
    }

    .about__th,
    .about__td {
        font-size: 8px;
        padding: 10px;
    }

    .button__delete {
        font-size: 8px;
    }

    .success {
        margin-left: 20px;
        color: #ff0000;
        margin-top: 20px;
    }
}