.header {
    background-color: black;
}

.header__group {
    display: flex;
    max-width: 1300px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__item {
    margin-right: 50px;
}

.nav__item input::-webkit-calendar-picker-indicator {
    display: none !important;
}

.nav__item input {
    width: 500px;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
}

.button__logout {
    color: #fff;
    font-size: 20px;
    border: none;
    background-color: #000;
}

.button__ttl {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.button__title {
    padding: 5px 15px;
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #fff;
    color: #000;
    text-decoration: none;
    border-radius: 3px;
}


