.header {
    background-color: black;
}

.header__group {
    display: flex;
    max-width: 1300px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__item {
    margin-right: 50px;
}

.nav__item input::-webkit-calendar-picker-indicator {
    display: none !important;
}

.nav__item input {
    width: 500px;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
}

.button__logout {
    color: #fff;
    font-size: 20px;
    border: none;
    background-color: #000;
}

.button__ttl {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.button__title {
    padding: 5px 15px;
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #fff;
    color: #000;
    text-decoration: none;
    border-radius: 3px;
}


@media (max-width: 768px) {
    .header {
        background-color: black;
    }

    .header__group {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 10px;
    }

    .header__ttl {
        margin-bottom: 10px;
    }

    .header__title img {
        width: 150px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .nav__item {
        margin: 10px 0;
        width: 100%;
    }

    .nav__item input[type="text"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 70%;
        padding: 10px;
        border-radius: 5px;
        border: none;
    }

    .nav__item input[type="text"]::-webkit-calendar-picker-indicator,
    .nav__item input[type="text"]::-webkit-inner-spin-button,
    .nav__item input[type="text"]::-webkit-outer-spin-button {
        display: none !important;
    }

    .button__logout,
    .button__ttl {
        font-size: 16px;
        padding: 5px;
        text-align: center;
        background-color: #000;
        color: #fff;
        border-radius: 5px;
    }

    .button__title {
        margin-left: 5px;
        font-size: 12px;
        padding: 5px 20px;
        text-align: center;
        border: 1px solid #fff;
        background-color: #fff;
        color: #000;
        border-radius: 5px;
    }
}