body,
html {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    overflow-x: hidden;
}

.container {
    text-align: center;
    max-width: 1500px;
    background-color: #fff;
    height: 680px;
    padding-top: 10%;
}

.card-header {
    font-size: 20px;
}

.card-body {
    font-size: 20px;
    margin-top: 10px;
}

button {
    margin-top: 30px;
    padding: 10px 30px 10px 30px;
    border-color: #000;
    background-color: #fff;
    color: #000;
}


@media (max-width: 768px) {
    .container {
        text-align: center;
        max-width: 90%;
        margin: 0 auto;
        background-color: #fff;
        height: auto;
        padding-top: 10%;
    }

    .card-header {
        font-size: 20px;
    }

    .card-body {
        font-size: 20px;
        margin-top: 10px;
    }

    .button {
        margin-top: 30px;
        padding: 10px 30px 10px 30px;
        border-color: #000;
        background-color: #fff;
        color: #000;
    }
}