.main__ttl {
    display: flex;
    justify-content: space-around;
}

.main__item {
    width: 750px;
    text-align: center;
}

.main__item img {
    width: 400px;
    margin-top: 100px;

}

.main__about {
    margin-top: 100px;
    width: 600px;
}

.about__title {
    font-size: 25px;
    font-weight: bold;
}

.about__title,
.about__brand {
    margin: 0;
    padding: 0;
}

.about__brand {
    display: inline-block;
    margin-left: 5px;
}

.price__ttl {
    font-size: 20px;
}

.about__action {
    display: flex;
    align-items: center;
}

.action__favorite {
    margin-right: 30px;
}

.action__favorite i,
.action__favorite .star__number {
    margin: 0;
    padding: 0;
}

.action__favorite i {
    font-size: 20px;
}


.action__favorite .star__number {
    margin-left: 6px;
    font-size: 15px;
}


.comment__link {
    text-decoration: none;
}

.action__comment i,
.action__comment .comment__number {
    margin: 0;
    padding: 0;
    color: #000;
}

.action__comment i {
    font-size: 20px;
}

.action__comment .comment__number {
    margin-left: 6px;
    font-size: 15px;
}

.about__button {
    margin: 30px 0;
    width: 100%;
}

.about__sold {
    display: inline-block;
    width: 300px;
    padding: 5px 0;
    color: #fff;
    font-size: 18px;
    background-color: #FF6666;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
}

.button__purchase {
    display: inline-block;
    width: 300px;
    padding: 5px 0;
    color: #fff;
    font-size: 18px;
    background-color: #FF6666;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
}

.about__detail {
    width: 300px;
}

.about__category {
    display: flex;
    align-items: center;
}

.category__title {
    font-weight: 700;
    margin-right: 30px;
}

.category__type {
    display: inline-block;
    background-color: #cccccc;
    padding: 0 20px;
    border-radius: 10px;
    font-size: 12px;
    margin-right: 5px;
}

.about__status {
    display: flex;
    align-items: center;
}

.status__title {
    font-weight: 700;
    margin-right: 45px;

}

.status__type {
    font-size: 15px;
}

@media (max-width: 768px) {
    .main__ttl {
        flex-direction: column;
        align-items: center;
    }

    .main__item,
    .main__about {
        width: 80%;
    }


    .main__item img {
        width: 70%;
    }


    .about__group {
        width: 100%;
        text-align: center;
    }

    .about__action {
        flex-direction: row;
        justify-content: center;
    }

    .category__item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .category__title,
    .status__title,
    .category__type,
    .status__type {
        display: block;
        text-align: center;
    }

    .about__description,
    .about__information {
        width: 80%;
        margin: 0 auto;
    }

    .action__favorite {
        margin-right: 150px;
    }

    .action__favorite .star__number,
    .action__comment .comment__number {
        margin-left: 2px;
    }


    .button__purchase {
        width: 250px;
        margin-bottom: 50px;
    }

    .about__title {
        font-size: 20px;
    }

    .about__detail,
    .about__category,
    .about__status {
        width: 100%;
        padding-left: 40px;
        font-size: 13px;
    }

    .category__type {
        font-size: 10px;
    }

}